#top-nav {
  height: 70px;
  line-height: 70px;
  padding: 5px 0 5px 0;
  margin: 0;
}

#top-nav > .ui.inverted.blue.borderless.menu {
  height:60px;
}

.hero {
  padding: 0;
  margin: 0;
}

footer {
  height: 105px;
  padding: 30px 0 15px 0;
}

.footer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
