
.ui.basic.segment.home-banner{
    margin: inherit;
    top:-60px;
}



.ui.three.item.secondary.menu.home-banner{

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0%);
}
