/*===========navigation CSS=============*/

.ui.vertical.inverted.blue.segment.top {
    height: 70px;
}
.ui.image.logo.top {
    width:200px;
    height: 80px;
}
.ui.inverted.fluid.six.item.text.menu {
    padding-bottom: 45px;
    font-size: 16px;
}

/*=============footer CSS===============*/
.ui.vertical.inverted.blue.segment.foot {
    height: 105px;
}
.ui.three.column.grid.center.aligned.container.foot{
    padding-top: 20px;
    font-size: 14px;
}
.linkfontcolor{
    color: white;
}
